* {
  box-sizing: border-box;
}

body {
  background-image: url(smoke.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 150vh;
}

header {
  display: flex;
  justify-content: center;
}

picture {
  display: flex;
  justify-content: center;
} 

img {
  mix-blend-mode: screen;
  margin-right: 200px;
}

.name-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  font-size: clamp(1rem, 8vw, 10rem);
  width: 100%;
  gap: 50px;
}

@media (max-width: 700px) {
  img {
    margin-left: 80px;
  }
}